mixin info(info)
    div
        h4=info.Name
        ul 
            li 학번: #{info.STnumber}
            li 만날 지역: #{info.Field}
            li 성별: #{info.Gender}
            li 인스타그램 아이디: #{info.instagramID}
            li 카카오톡 아이디: #{info.kakaoID}
            li 매칭 종류: #{info.KoM}
            li 자신의 MBTI: #{info.OwnMBTI}
            li 원하는 상대방의 MBTI: #{info.WantedMBTI}
            li 전공: #{info.Major}
            li 병역 여부: #{info.MilitaryService}
            li 흡연 여부: #{info.Smoker}
            li 음주 빈도: #{info.Fre_Drinking}
            li 체형: #{info.Bodyform}
            li 취미: #{info.Hobby}
            li 동성매칭: #{info.SameGender}
            li 같은 과 매칭: #{info.SameMajor}
            li 군필자 매칭: #{info.O_MilitaryService}
            li 흡연자 매칭: #{info.O_Smoker}
            li 상대방 음주 빈도: #{info.O_Fre_Drinking}
            li 매칭된 사람들: #{info.MatchedPeople}
            li 매칭된 사람들의 점수: #{info.MatchedScore}
            li 매칭 성공: #{info.isMatched}
            li 매칭이 성사된 상대방: #{info.selectedPerson}